# Dependencies
node_modules
.pnp
.pnp.js

# Production build
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea

# Local environment variables
.env.local
.env.*.local
